body {
    margin: 0;
    background-color: #F5F5F5;
}

.main-container {
    width: 50%;
    margin: 0 auto;
}

.back a {
    ont-family: "游ゴシック";
    color: #545454;
    font-weight: bold
}

.back a:hover {
    color: #807F7F
}

.mg-menu {
    border: solid;
    border-radius: 5px 5px 5px 5px;
    border-color: #545454;
    padding: 10px
}

.mg-menu p {
    font-weight: bold;
    color: #545454
}

.mg-menu a {
    text-decoration: none;
    color: #fff
}

.btn_container {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}

.mg_btn {
    width: 250px;
    padding: .8em 2em;
    border: none;
    border-radius: 5px;
    background-color: #EFB41E;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
}

.delete {
    padding: .8em 2em;
}

.edit {
    height: fit-content;
    padding: 0.8em 30px;  
}

.mg_btn:hover {
    background-color: #CD9916;
}

.flex {
    display: flex;
    align-items: center;
    height:50px
}

.area_content {
    display: flex;
    height: fit-content;
}

.tag {
    border-radius: 5px 5px 5px 5px;
    background-color: #D9D9D9;
    width: fit-content;
    margin: 10px auto;
    padding: 3px 15px;
    font-family: "游ゴシック";
    font-weight: bold;
    color: #545454;
    margin: 40px 20px 0 0;
}

.store_name {
    padding: 0 0 px 0;
    margin: 0 0 20px 0
}

.store_name h1 {
    margin: 15px 0 0 0;
    font-size: 2rem;
    color: #333333;
}

.img_content img{
    width: 100%;
}


.headline {
    padding: .5em .7em;
    border-left: 5px solid #EFB41E;
    color: #333333;
    font-size: 1.5rem;
    font-weight: bold
}

.content {
    margin: 50px 0
}

.menu_content {
    margin-bottom: 40px;
    border-bottom: solid;
    padding-bottom: 10px;
    border-bottom-color: #D9D9D9
}

.menu_title {
    display: flex;
    justify-content: left;
    align-items: center;
    color: #333333;
}

.menu_title::before,
.menu_title::after {
    width: 3px;
    height: 40px;
    background-color: #EFB41E;
    content: '';
}

.menu_title::before {
    transform: rotate(-35deg);
    margin-right: 30px;
}

.menu_title::after {
    transform: rotate(35deg);
    margin-left: 30px;
}

.menu_content img {
    width: 100%;
}

.menu_index {
    display: flex;
    justify-content: right;
    margin-top: 10px;
    font-weight: bold;
    color: #545454;
}

.menu_index div {
    margin-left: 10px
}

.menu_edit {
    margin: 0 0 0 auto;
    color: #545454;
    padding: 5px 20px;
    border-radius: 5px 5px 5px 5px;
    border: solid;
    border-color: #545454;
    width: fit-content;
}

.menu_edit a {
    text-decoration: none;
    color: #545454;
}

.menu_edit:hover {
    background-color: #D9D9D9;
}

.add_menu {
    border: solid;
    border-radius: 5px 5px 5px 5px;
    border-color: #545454;
    padding: 10px;
    color: #545454;
    display: flex;
    justify-content: center;
}

.add_menu a {
    color: #545454;
    text-decoration: none;
}

.add_menu:hover {
    background-color: #D9D9D9;
}

.feature_container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.feature {
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
}


.active {
    background-color: #EFB41E;
    color: #1E2D5B
}

.inactive {
    background-color: #D9D9D9;
    color: #979797
}