body {
    margin: 0;
    background-image: url(../../image/map_japan2.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.mainwrap {
   text-align: center;
   padding-top: 150px;
   animation-name:fadeInAnime;
   animation-duration:1s;
   animation-fill-mode:forwards;
   opacity:0;
}

@keyframes fadeInAnime{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.feature {
    color: #545454;
}

.citytitle {
    border-radius: 5px 5px 5px 5px;
    background-color: #EFB41E;
    width: fit-content;
    margin: 10px auto;
    padding: 3px 15px;
    font-family: "游ゴシック";
    font-weight: bold;
    color: #545454
}

.selectwrap {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.selectwrap::after {
    position: absolute;
    right: 15px;
    top: 16px;
    width: 10px;
    height: 7px;
    background-color: #EFB41E;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
    pointer-events: none;
}

.selectwrap select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 200px;
    height: 40px;
    padding: 5px 50px 5px 15px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    background-color: #fff;
    color: #555;
    cursor: pointer;
}

.footer {
    text-align: center;
    font-family: "游ゴシック";
    font-weight: bold;
    margin-top: 50px;
}

.footer a {
    text-decoration: none;
    color: #545454;
}

.footer a:hover {
    color: #807F7F
}